user -> create a chat(hub) -> if they want to invite anyone, they have to use the unique hubID after connecting with backend socket
user2 -> use the hubId to join the chat

POST   /ws          - to create connection(register client) and a hubId
PUT    /ws/{:hubId} - to create a client and join the hub
DELETE /ws          - to delete/de-register the client from the hub
DELETE /ws/{:hubID} - to delete the hub

POST   /user/create - to create a user
GET    /user/login  - to login the user


TODO:
1. Build an app (whatever you are comfy at!) but make sure to add the dockerfile to run it!
2. Set up github actions: which builds, tests the code and pushes an image to dockerhub.
3. Pull the built image from the repo and run the container.
4. Use a tool such as watchtower to poll periodically for newer images available in the repo and restart containers.